<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  {% include '../base.html' %}
</head>
<body>
  <div class="global-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Signup</h3>
        <div class="card-text">
          <form action="/users/signup" method="POST">
            {% csrf_token %}
            {% for field in data.signup_form %}
              <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
              </div>
              {{ field.errors }}
            {% endfor %}

            <div class="d-flex justify-content-center" width="100%"><button  type="submit" class=" btn btn-primary">Sign Up</button></div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


